/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #f3f2f4, #f1f3f6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 30px 20px;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #6a11cb;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #6a11cb;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.3);
}

button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(106, 17, 203, 0.4);
}

a {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #6a11cb;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

a:hover {
    color: #2575fc;
}

.error-message, .success-message {
    background-color: rgba(255, 0, 0, 0.1);
    color: #ff0000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-align: center;
    display: none; /* Será mostrado dinamicamente no JS */
}

.success-message {
    background-color: rgba(0, 255, 0, 0.1);
    color: #00a000;
}
